@import "variables";

.margin-20 {
  margin-top: 20px;
}

.avatar {
  position: relative;
  width: 180px;
  border-radius: 90px;
  left: 20px;
}

.camera {
  position: relative;
  right: 40px;
  bottom: 12px;
}